    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/{{ site.author.github}}/{{ site.title }}">View on GitHub</a>

          <h1 id="project_title"><a class="title" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.tagline }}</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/{{ site.author.github}}/{{ site.title }}/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/{{ site.author.github}}/{{ site.title }}/tarball/master">Download this project as a tar.gz file</a>
            </section>
			{% if site.author.twitter  %}<a id="follow-button" target="_blank" class="twitter" title="Follow @TheCodeKing on Twitter" href="https://twitter.com/intent/follow?original_referer={{ site.production_url | xml_escape }}%2F&amp;region=follow_link&amp;screen_name={{ site.author.twitter }}&amp;tw_p=followbutton&amp;variant=2.0"><i></i><span class="label" id="l">Follow <b>@{{ site.author.twitter }}</b></span></a>{% endif %}
        </header>
    </div>
